$pub-color:#b75a5a;
.card{
    color:white;
        background-color: #193864!important;
        text-align: left;
}
.btn-link{
    text-align: left;
    color:white;
   
}
.btn-link:hover {
    color: white;
    text-decoration: none;
}

panel{
    .article{
        font-weight: 600;
        color: $pub-color;
        text-decoration: none;
    }
    .pub-footer{
        color:#adb5bd;
        text-decoration: none;
    }
    .pub-header{
        font-weight: normal;
        font-size:0.9rem;
        
    }
}

.card-body{
    background-color:#385784 ;
    opacity: 0.8;
    font-size: 0.8em;
    line-height: 1.8em;
    color: white;
   // padding:1.25rem !important;
}

.card-header-year{
    background-color:$pub-color ;
    text-align:center;
     font-weight:bold;
     color:white;
}
.card-header panel{
    .article{
        font-weight: 600;
        color: $pub-color;
    }
    footer{
        color:lightgray;
    }
}